@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model jmbde.Models.Computer
@{
	ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<div>
    <h4>Computer</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ComputerId" />

                <div class="form-group">
                    <label asp-for="NetworkName"></label>
                    <input asp-for="NetworkName" class="form-control" placeholder="pcnumber" />
                    <span asp-validation-for="NetworkName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Active"></label>
                    <input asp-for="Active" class="form-control" />
                    <span asp-validation-for="Active" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-default" value="Save" />
                </div>
            </form>
        </div>
    </div>
</div>
      
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");} 
}