@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model jmbde.Models.Mobile
@{
	ViewBag.Title = "Delete Mobile";
}

<h2>
    Delete Mobile
</h2>

<h3>
    Are you sure want to delete this ?
</h3>

@if (ViewBag.Retry)
{
    <p class="alert-danger">Error deleting. Retry ?</p>
}

<div>
    <dl>
        @Html.DisplayNameFor(model => model.Number)
    </dl>
    <dd>
        @Html.DisplayFor(model => model.Number)
    </dd>    
    <div>
        <form asp-controller="Mobile" asp-action="Delete" method="POST">
            <div class="form-group">
                <input type="submit" class="btn btn-default" value="Delete" />
            </div>
        </form>
        <p><a asp-controller="Mobile" asp-action="Index">Back to List</a></p>
    </div>
</div>