@{
    ViewData["Title"] = "About";
}

<div class="jumbotron">
    <h1>JMBDE</h1>
</div>

<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<h1>JMBDE Version 0.0.6</h1>
<p>This is a BDE Application.</p>
<br />
<h2>Intruduction</h2>
You can collect data in a company for:
<ul>
    <li>Employee's</li>
    <li>Computer</li>
    <li>Phones</li>
    <li>Mobiles</li>
</ul>
<h2>License</h2>
<p>This Application is licensed under EUPL V1.1</p>
