@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>JMBDE</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to JMBDE</h2>
        <p>
            JMBDE is as Application to collect the Data ina Company.
            This contains:
            <ul>
                <li>Employee</li>
                <li>Computer</li>
                <li>Phones</li>
                <li>Printer</li>
            </ul>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed project from GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/jmuelbert/jmbde-aspnet">See project source code &raquo;</a></p>
    </div>
</div>
