@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>jmbde (c) Jürgen Mülbert</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to jmbde</h2>
        <p>
            jmbde is a application that
            help to manage the hardware and software in
            a company,
        </p>
    </div>
    <div class="col-md-4">
        <h2>Use for manage</h2>
        <ul>
            <li>Empoyees</li>
            <li>Computer</li>
            <li>Printer</li>
            <li>Phones</li>
            <li>Mobiles</li>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed project from GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/jmuelbert/jmbde-aspnet">See project source code &raquo;</a></p>
    </div>
</div>