@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}

<div class="jumbotron">
    <h1>JMBDE</h1>
</div>

<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Jürgen Mülbert<br />
    Rathenaustraße 12<br />
    68535 Edingen-Neckarhausen, Germany<br />
</address>

<address>
    <strong>Support:</strong> <a href="mailto:juergen.muelbert@gmail.com">juergen.muelbert@gmail.com</a><br />
</address>
