@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
   <h1 class="display-4">JMBDE</h1>
</div>

<div class="row mb-auto">
    <div class="col-md-4">

        <div class="ro no-gutter border mb-4">
            <div class="col p-4 mb-4">
                <h2>Welcome to JMBDE</h2>
                <p>
                    JMBDE is as Application to collect the Data in a Company.
                    This contains:
                    <ul>
                        <li>Employee</li>
                        <li>Computer</li>
                        <li>Phones</li>
                        <li>Printer</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="ro no-gutter border mb-4">
            <div class="col p-4 mb-4">
                <h2>Download it</h2>

                <p>You can download the completed project from GitHub.</p>
                <p><a class="btn btn-default" href="https://github.com/jmuelbert/jmbde-aspnet">See project source code &raquo;</a></p>
            </div>
        </div>
    </div>
</div>
