@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model jmbde.Data.Employee
@{
	ViewBag.Title = "Edit Employee";
}

<h2>
    Edit Employee
</h2>

<div>
    <form class="form-horizontal" role="form" asp-controller="Employee" asp-action="Update" method="post" asp-route-id="@Model.EmployeeId">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row ">
            <label class="control-label col-md-4" for="EmployeeNr" asp-for="EmployeeNr"></label>
            <div class="col-md-6">
                <input type="text" class="form-control" id="EmployeeNr" asp-for="EmployeeNr" placeholder="123456" />
            </div>
            <span asp-validation-for="EmployeeNr" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-4" for="Firstname" asp-for="Firstname"></label>
            <div class="col-md-6">
                <input type="text" class="form-control" id="FirstName" asp-for="Firstname" placeholder="First Name" />
            </div>
            <span asp-validation-for="Firstname" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-4" for="Lastname" asp-for="Lastname"></label>
            <div class="col-md-6">
                <input type="text" class="form-control" id="Lastname" asp-for="Lastname"  placeholder="Name" />
            </div>
            <span asp-validation-for="Lastname" class="text-danger"></span>
        </div>
        
        <div class="form-group row">
            <label class="control-label col-md-4" for="Businessemail" asp-for="Businessemail"></label>
            <div class="col-md-6">
                <input type="email" class="form-control" id="Businessemail" asp-for="Businessemail"  placeholder="Email Address" />
            </div>
            <span asp-validation-for="Businessemail" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-4" for="ChipcardId" asp-for="ChipcardId"></label>
            <div class="col-md-6">
                <input type="text" class="form-control" id="ChipcardId" asp-for="ChipcardId"  placeholder="0001" />
            </div>
            <span asp-validation-for="ChipcardId" class="text-danger"></span>
        </div>
                
     <fieldset class="form-group row">
           <legend class="col-form-legend col-sm-2">Active</legend>
           <div class="col-sm-10">
               <label class="for-check-label">
                   <input class="form-check-input" type="checkbox" name="Active" id="Active" value="Active"/>
               </label>
           </div>
        </fieldset>

 
        <fieldset class="form-group row">
            <legend class="col-form-legend col-sm-2">DataCare</legend>
            <div class="col-sm-10">
                <label class="for-check-label">
                    <input class="form-check-input" type="checkbox" name="DataCare" id="Datacare" value="DataCare"/>
                    <span asp-validation-for="Datacare" class="text-danger"></span>
                </label>
             </div>      
        </fieldset>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10 col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-primary" value="Save" />
                <a role="button" class="btn btn-info" asp-controller="Employee" asp-action="Index">Back to List</a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}