@page "{id:int}"
@model JMuelbert.BDE.Pages.Computers.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Computer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Computer.ComputerID" />
            <div class="form-group">
                <label asp-for="Computer.ComputerID" class="control-label"></label>
                <input asp-for="Computer.ComputerID" class="form-control" />
                <span asp-validation-for="Computer.ComputerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Computer.SerialNumber" class="control-label"></label>
                <input asp-for="Computer.SerialNumber" class="form-control" />
                <span asp-validation-for="Computer.SerialNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Computer.ServiceTag" class="control-label"></label>
                <input asp-for="Computer.ServiceTag" class="form-control" />
                <span asp-validation-for="Computer.ServiceTag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Computer.ServiceNumber" class="control-label"></label>
                <input asp-for="Computer.ServiceNumber" class="form-control" />
                <span asp-validation-for="Computer.ServiceNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Computer.Memory" class="control-label"></label>
                <input asp-for="Computer.Memory" class="form-control" />
                <span asp-validation-for="Computer.Memory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Computer.Network" class="control-label"></label>
                <input asp-for="Computer.Network" class="form-control" />
                <span asp-validation-for="Computer.Network" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Computer.NetworkIpAddress" class="control-label"></label>
                <input asp-for="Computer.NetworkIpAddress" class="form-control" />
                <span asp-validation-for="Computer.NetworkIpAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Computer.IsActive" class="control-label"></label>
                <div class="checkbox">
                    <label>
                        <input asp-for="Computer.IsActive" />
                    </label>
                </div>
                <span asp-validation-for="Computer.IsActive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Computer.ShouldReplace" class="control-label"></label>
                <div class="checkbox">
                    <label>
                        <input asp-for="Computer.ShouldReplace" />
                    </label>
                </div>
                <span asp-validation-for="Computer.ShouldReplace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Computer.LastUpdate" class="control-label"></label>
                <input asp-for="Computer.LastUpdate" class="form-control" />
                <span asp-validation-for="Computer.LastUpdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
