@page
@model jmbde.Pages.Inventories.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Inventory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Inventory.Identifier" class="control-label"></label>
                <input asp-for="Inventory.Identifier" class="form-control" />
                <span asp-validation-for="Inventory.Identifier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inventory.Description" class="control-label"></label>
                <input asp-for="Inventory.Description" class="form-control" />
                <span asp-validation-for="Inventory.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Inventory.Active" /> @Html.DisplayNameFor(model => model.Active))
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Inventory.LastUpdate" class="control-label"></label>
                <input asp-for="Inventory.LastUpdate" class="form-control" />
                <span asp-validation-for="Inventory.LastUpdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
