@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model jmbde.Data.Phone
@{
	ViewBag.Title = "Create Phone Entry";
}

<h2>
    Create Phone Entry
</h2>

<div>
    <form asp-controller="Phone" asp-action="Create" method="post">
     <div asp-validation-summary="ModelOnly" class="text-danger"></div>
     
        <div class="form-inline">
            <div class="form-group">
                <label asp-for="Number"></label>
                <input asp-for="Number" class="form-control" placeholder="Number" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
        </div>
        
        <div class="form-group">
            <select asp-for="EmployeeID" asp-items="@ViewBag.Items"></select>
        </div>
                   
        <input type="submit" class="btn btn-default" value="Create" />
    </form>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}
