@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model jmbde.Models.Phone
@{
	ViewData["Title"] = "Delete";
}

<h2>Delete</h2>
<p class="text-danger">@ViewData["ErrorMessage"]</p>

<h3>Are you sure want to delete this ?</h3>

<div>
    <h4>Phone</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="PhoneId" />
        <input type="submit" value="Delete" class="btn btn-default" />
        <a asp-action="Index">Back to List</a>
    </form>
</div>
