@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model jmbde.Models.Mobile
@{
	ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Mobile</h4>
    <hr />
    <dl class="dl-horinzontal">  
        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.MobileId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
