@page "{id:int}"
@model JMuelbert.BDE.Pages.Faxes.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Fax</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Fax.FaxId" />
            <div class="form-group">
                <label asp-for="Fax.Number" class="control-label"></label>
                <input asp-for="Fax.Number" class="form-control" />
                <span asp-validation-for="Fax.Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fax.SerialNumber" class="control-label"></label>
                <input asp-for="Fax.SerialNumber" class="form-control" />
                <span asp-validation-for="Fax.SerialNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fax.Pin" class="control-label"></label>
                <input asp-for="Fax.Pin" class="form-control" />
                <span asp-validation-for="Fax.Pin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fax.Active" class="control-label"></label>
                <div class="checkbox">
                    <label>
                        <input asp-for="Fax.Active" />
                    </label>
                </div>
                <span asp-validation-for="Fax.Active" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fax.Replace" class="control-label"></label>
                <div class="checkbox">
                    <label>
                        <input asp-for="Fax.Replace" />
                    </label>
                </div>
                <span asp-validation-for="Fax.Replace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fax.LastUpdate" class="control-label"></label>
                <input asp-for="Fax.LastUpdate" class="form-control" />
                <span asp-validation-for="Fax.LastUpdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
